@import url('https://fonts.googleapis.com/css2?family=Charmonman:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montagu+Slab:opsz,wght@16..144,300;16..144,400;16..144,500;16..144,600;16..144,700&display=swap');

* {
  box-sizing: border-box;
}

body {
  background-color: antiquewhite;
  margin: 0;
  font-family: 'Montagu Slab', serif;
  color: rgb(59, 58, 58);
}

.song-wrapper {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 25px;
  margin: 0;
}

.song-individual {
  height: 300px;
  width: 100%;
}

.song-title {
    text-align: center;
    font-size: 50px;
    margin: 50px 0 20px 0;
}

.song, .clicked__song {
  display: flex;
  flex-direction: column;
  max-width: 400px;
  width: 100%;
  align-items: flex-start;
  padding: 0px 0px 0px 0px;
  margin: 20px 0 30px 0;
  border: 2px solid black;
  border-radius: 40px;
  background-color: #f5c2ae;
  word-wrap: break-word;
  transition: transform 0.3s;
}

.song:hover {
  transform: scale(1.1);
}

.song.hover {
  transform: scale(0.8);
}

.song-wrapper:hover .song {
  transform: scale(0.8);
}

.song-wrapper:hover .song:hover {
  transform: scale(1.1);
}

.title, .performer, .description, .releaseYear {
  padding: 0 15px 0 15px;
}

.title {
  font-size: 35px;
  margin: 20px 0 0 0;
}

.performer {
  font-size: 30px;
  margin: 20px 0 0 0;
  font-weight: 600;
}

.description {
  font-size: 20px;
  margin: 20px 0 0 0;
  font-weight: 400;
}

.releaseYear {
  font-size: 18px;
  margin: 20px 0 0 0;
  font-weight: 300;
}

.song__buttons {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
  gap: 20px;
  padding: 0 15px 0 15px;
}

.song__delete {
  padding: 15px 25px;
  width: 100%;
  min-width: 120px;
  border-radius: 10px;
  margin: 20px 0 0 0px;
  border: 3px solid rgb(59, 58, 58);;
  background-color: #fca17d;
  color: rgb(59, 58, 58);
  font-family: cursive;
  font-size: 20px;
  cursor: pointer;
  flex-basis: calc(50% - 10px);
}

.song__delete:hover, .song__add-button:hover, .song__edit:hover, .song__edit-button:hover {
  opacity: 0.8;
  transition: 0.3s;
}

.song__delete:focus {
  background-color: rgb(59, 58, 58);
  color: #fca17d;;
  opacity: 1;
  border: 3px solid #fca17d;
}

.song__edit {
  padding: 15px 25px;
  width: 100%;
  min-width: 120px;
  border-radius: 10px;
  margin: 20px 0 0 0px;
  border: 3px solid rgb(59, 58, 58);;
  background-color: #f3bd6b;
  color: rgb(59, 58, 58);
  font-family: cursive;
  font-size: 20px;
  cursor: pointer;
  flex-basis: calc(50% - 10px);
}

.song__edit:focus {
  background-color: rgb(59, 58, 58);
  color: #f3bd6b;;;
  opacity: 1;
  border: 3px solid #f3bd6b;
}

.form-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 30px 0 0 0;
  gap: 20px;
  flex-direction: column;
}

.form-background {
  background-color: rgb(213, 195, 173);
  border-radius: 15px;
  margin-top: 20px;
  padding: 30px 70px;
  box-shadow: 0px 0px 5px 3px rgb(128, 124, 112);
}

.song-card-wrapper {
  display: flex;
  gap: 30px;
  flex-wrap: wrap;
  justify-content: center;
}

.song-form {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 15px;
  max-width: 400px;
  width: 100%;
  margin: 0 0 20px 0;
}

.form__header {
  font-family: 'Charmonman', cursive;
  font-weight: 900;
  font-size: 45px;
  margin: 0 0 10px 0;
}

.song__title, .song__releaseYear, .song__performer {
  font-family: cursive;
  border: 2px solid rgb(59, 58, 58);;
  border-radius: 10px;
  padding: 12px 10px;
  max-width: 400px;
  width: 100%;
  background-color: rgb(242, 237, 223);
  font-size: 18px;

    &:focus {
      box-shadow: 0 0 5px 4px rgb(174, 163, 148);
      transition: 0.2s;
    }
}

.song__description {
  font-family: cursive;
  border: 2px solid rgb(59, 58, 58);;
  border-radius: 20px;
  padding: 35px 10px;
  max-width: 400px;
  width: 100%;
  background-color: rgb(242, 237, 223);
  font-size: 18px;

    &:focus {
      box-shadow: 0 0 5px 3px rgb(174, 163, 148);
      transition: 0.2s;
  }
}

.song__add-button {
  padding: 15px 20px;
  max-width: 150px;
  width: 100%;
  border-radius: 10px;
  margin: 0;
  border: 3px solid rgb(59, 58, 58);;
  background-color: rgb(202, 195, 174);
  color: rgb(59, 58, 58);
  font-family: 'Shalimar', cursive;
  font-size: 20px;
  font-weight: bold;
  cursor: pointer;
  align-self: flex-end;
}

.song__cancel-button {
  padding: 15px 20px;
  max-width: 130px;
  width: 100%;
  border-radius: 10px;
  margin: 0;
  border: 3px solid rgb(59, 58, 58);;
  background-color: #A2A3C7;
  color: rgb(59, 58, 58);
  font-family: 'Shalimar', cursive;
  font-size: 20px;
  font-weight: bold;
  cursor: pointer;
}

.add-button-wrapper {
  display: flex;
  width: 100%;
  justify-content: space-between;
}

.song__edit-button:focus {
  background-color: rgb(59, 58, 58);
  color: #A2A3C7;
  opacity: 1;
  border: 3px solid #A2A3C7;
}

.song__add-button:focus {
  background-color: rgb(59, 58, 58);
  color: rgb(202, 195, 174);
  opacity: 1;
  border: 3px solid rgb(202, 195, 174);
}

.images {
  width: 100%;
  height: 100%;
  min-height: 300px;
  max-height: 300px;
  border-radius: 36px;
  margin: 0px;
  object-fit: cover;
  border: 1px solid rgb(59, 58, 58);
}

.clicked__image {
  width: 100%;
  height: 100%;
  min-height: 300px;
  max-height: 300px;
  border-radius: 36px 36px 0 0 ;
  margin: 0px;
  object-fit: cover;
  border: 1px solid rgb(59, 58, 58);
}

.clicked__song {
  padding-bottom: 20px;
}

.clicked-image-wrapper {
  display: flex;
  justify-content: center;
  margin-top: 30px;
}

.navigation-wrapper {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin: 20px 0;
}

.navigation__home {
  text-decoration: none;
  color: rgb(59, 58, 58);
  transition: transform 0.2s;
  background-color: rgb(220, 204, 182);
  padding: 10px 20px;
  border-radius: 10px;
  border: rgb(144, 133, 115) solid 1px;
  font-size: 22px;

    &:hover {
      transform: scale(1.2);
    }

    &:active {
      background-color: rgb(59, 58, 58);
      color: rgb(220, 204, 182);
      border: rgb(220, 204, 182) 1px solid;
    }
}

.about-wrapper, .home-wrapper {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.about__header, .home__header {
  font-size: 50px;
  margin: 20px 0 0 0 ;
}

.about__cat-image {
  max-width: 500px;
  margin-top: 70px;
  transition: transform 0.3s;
  cursor: pointer;
  border-radius: 10px;
  box-shadow: 0px 0px 5px 2px black;
}

.about__cat-image.spinning {
  animation: spin 1.5s linear infinite;
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}

.about__cat-image:hover {
  transform: scale(1.2);
}

.home__image {
  max-width: 700px;
  margin: 20px 0 0 0;
  border-radius: 15px;
  cursor: pointer;

    &:hover {
      opacity: 0.9;
    }
}

.home__paragraph {
  margin: 10px 0 0 0;
  font-size: 18px;
}